# General dependencies
blinker==1.4
cryptography==3.4.8
httplib2==0.20.2
jeepney==0.7.1
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
more-itertools==8.10.0
netifaces==0.11.0
oauthlib==3.2.0
PyJWT==2.3.0
pyparsing==2.4.7
SecretStorage==3.3.1
six==1.16.0
wadllib==1.3.6
zipp==1.0.0
boto3  # Add this line, specify a version if needed

# Dependencies with special handling
# Handle distro, dbus-python, and PyYAML separately in the GitHub Actions workflow due to specific requirements.
