scikit-learn==1.2.2
pycaret==3.0.0
sktime==0.16.1
lightgbm
h2o
tensorflow
keras
shap
joblib
numpy==1.21.6
statsmodels==0.13.5
scipy
tqdm
pandas>=1.3.5,<1.6.0
darts==0.23.1
prophet==1.1.2
statsforecast[autoarima,ets,croston]==2.0.0
holidays==0.14.2
pyod==1.0.8
cmdstanpy
flask
flask_caching
flask_cors
serverless-wsgi
gunicorn
werkzeug
jinja2
python-dotenv
boto3
botocore
awscli
dask>=2023.1.0
distributed>=2023.1.0
dask-expr==0.1.0
setuptools
wheel
Cython
blinker
cryptography
httplib2
pyparsing
six
zipp
convertdate
pyyaml
requests
tabulate
future
lockfile
matplotlib
plotly
plotly.express
seaborn
