
<div>
    <label>DOB: </label>
    <input type="date" #dobInput (blur)="calculateAge()">
</div>
<div>
    <label>Age: </label>
    <input type="text" #ageInput> 
</div>
<ngx-demo></ngx-demo>
{{ demoComp.sayHello() }}


<ngx-customer-list #customer></ngx-customer-list>
<p>
  You have selected {{ customer.selectedCustomer?.name }}
  <!--use ? because inially page load the selectedcustomer is null-->
</p>
<input type="text" #myVariable (keyup)="0">
<button (click)="sayHello(myVariable)">Say Hello</button>
<p> {{ myVariable.value }}</p>

<p>{{ slogan }}</p>

<p> {{ getSlogan() }}</p>


<img [src]="source" height="240" width="320">
<div [hidden]="display"><p>this is display</p></div>

<!-- declare FormsModule, in app.module.ts to use ngModel-->
 <div>

    <ngx-search
        (searchValueChange)="onSearchValueEntered($event)">
        <!--searchValueChange is in search.component while onSearchValueEntered is in homepage.component-->
    </ngx-search>

    <!--radiobutton-->
    <ngx-filter
    [total]="getTotalCourses()"
    [free]="getTotalFreeCourses()"
    [premium]="getTotalPremiumCourses()"
    (filterSelectionChanged)="onFilterChange($event)"
    ></ngx-filter>
 </div>


<!--structural directive
<div *ngFor="let item of [1,3,5]">
    <p>Number is: {{item}}</p>
</div>-->

<ng-container *ngFor="let p of product;let i=index">
<!--<div *ngIf="productCount === 'All' || productCount === p.type">-->
<div *ngIf = "searchValue === '' || p.name.toLowerCase().includes(searchValue)">
    <div [ngStyle]="{backgroundColor: p.name === 'Kate' ? 'Grey' : 'Yellow' }">
        <p>{{i}}</p>

        <img *ngIf="p.name === 'Eva'; else nameEva" [src]="p.image">
        <!--display above line if name if eva, if condition TRUE-->
        <ng-template #nameEva>
            <p>This is Eva hereeee</p>
        </ng-template>

        <p [ngStyle]="{color: p.id === 2 ? 'Green' : 'Purple'}">{{ p.name }}</p>
    </div>
</div>
</ng-container>
