

<h1 setBackground>This is app component</h1>
<div class="container" setBackground ngxHover>
    <p>this is example of custom attribute directive</p>
</div>

<div ngxHighlight ngxHover>
    <p>this is example of custom attribute directive</p>
</div>

<div class="container" [ngxBetterhighlight]="'red'" [defaultColor]="'yellow'">
    <p>this is example of custom attribute directive</p>
</div>

<div ngxClass="{container:10>5, 'change-font':true}">
    <p>this is example to create ngClass directive </p>
</div>

<div class="container" [ngxStyle]="{backgroundColor:active?'Green':'Red',color:'white',fontWeight:'bold'}">
    <p>this is example to create ngStyle directive </p>
</div>

<button class="btn btn-notice" (click)="DisplayNotice()">Show notice</button> 
<!--<div class="info-container notice" *ngIf="display;else myVar">
    <h3>This is important notice!</h3>
    <p>This is a notice issued for all website users.</p> 
</div>
<ng-template #myVar>
    <p>this an example paragraph</p>
</ng-template>-->

<ng-template [ngIf]="display" [ngIfElse]="myVar">
    <div class="info-container notice">
        <h3>This is important notice!</h3>
        <p>This is a notice issued for all website users.</p> 
    </div>    
</ng-template>
<ng-template #myVar>
    <p>this an example paragraph</p>
</ng-template>



<h2>This is homepage component</h2>
<ngx-demo>
    <p #paragraph>This is a paragraph</p>
</ngx-demo>

<div class="container">
   <input type="text" #input>
   <button (click)="OnSubmit(input)">Submit</button>
   <ngx-demo [value]="inputText" *ngIf="destroy">
        <h4>This is projected content {{inputText}}</h4>
   </ngx-demo>
   <br>
   <button (click)="DestroyComponent()">Destroy</button>
</div>


<div class="container">
    <h4>New in Smart Phone</h4>
    <div class="more-products">
        <ngx-product>
            <h4 class="title">New in iPhone</h4>
            <button class="btn btn-more">Show more in Ip</button>
        </ngx-product>
        <ngx-product>
            <h4 class="title">New in Samsung</h4>
            <button class="btn btn-more">Show more Sam</button>
        </ngx-product>
        <ngx-product>
            <h4 class="title">New in Xiomi</h4>
            <button class="btn btn-more">Show more MI</button>
        </ngx-product>
        <ngx-product>
            <h4 class="title">New in Honor</h4>
            <button class="btn btn-more">Show more Hon</button>
        </ngx-product>
    </div> 
</div>

<div>
    <label>DOB: </label>
    <input type="date" #dobInput (blur)="calculateAge()">
</div>
<div>
    <label>Age: </label>
    <input type="text" #ageInput> 
</div>
<ngx-demo></ngx-demo>
{{ demoComp.sayHello() }}


<ngx-customer-list #customer></ngx-customer-list>
<p>
  You have selected {{ customer.selectedCustomer?.name }}
  <!--use ? because inially page load the selectedcustomer is null-->
</p>
<input type="text" #myVariable (keyup)="0">
<button (click)="sayHello(myVariable)">Say Hello</button>
<p> {{ myVariable.value }}</p>

<p>{{ slogan }}</p>

<p> {{ getSlogan() }}</p>


<img [src]="source" height="240" width="320">
<div [hidden]="display"><p>this is display</p></div>

<!-- declare FormsModule, in app.module.ts to use ngModel-->
 <div>

    <ngx-search
        (searchValueChange)="onSearchValueEntered($event)">
        <!--searchValueChange is in search.component while onSearchValueEntered is in homepage.component-->
    </ngx-search>

    <!--radiobutton-->
    <ngx-filter
    [total]="getTotalCourses()"
    [free]="getTotalFreeCourses()"
    [premium]="getTotalPremiumCourses()"
    (filterSelectionChanged)="onFilterChange($event)"
    ></ngx-filter>
 </div>


<!--structural directive
<div *ngFor="let item of [1,3,5]">
    <p>Number is: {{item}}</p>
</div>-->

<ng-container *ngFor="let p of product;let i=index">
<!--<div *ngIf="productCount === 'All' || productCount === p.type">-->
<div *ngIf = "searchValue === '' || p.name.toLowerCase().includes(searchValue)">
    <div [ngStyle]="{backgroundColor: p.name === 'Kate' ? 'Grey' : 'Yellow' }">
        <p>{{i}}</p>

        <img *ngIf="p.name === 'Eva'; else nameEva" [src]="p.image">
        <!--display above line if name if eva, if condition TRUE-->
        <ng-template #nameEva>
            <p>This is Eva hereeee</p>
        </ng-template>

        <p [ngStyle]="{color: p.id === 2 ? 'Green' : 'Purple'}">{{ p.name }}</p>
    </div>
</div>
</ng-container>
