{% extends 'base.html' %}
{% block title %}Holiday EDA{% endblock %}

{% block content %}
<h1>Holiday EDA</h1>
        <p>Total Holidays: <span id="total-holidays">Loading...</span></p>
        <p>Most Common Month: <span id="common-month">Loading...</span></p>
        <table id="holiday-trends">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Total Holidays</th>
                </tr>
            </thead>
            <tbody id="trends-data">
                <!-- Data inserted dynamically -->
            </tbody>
        </table>
        


{% endblock %}
