{% extends 'base.html' %}

{% block title %}MLOps - Prediction & Evaluation{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Prediction & Evaluation</h1>

    <!-- Radar Chart -->
    <div class="card mb-4">
        <div class="card-header">Metrics Overview (Radar Chart)</div>
        <div class="card-body">
            <canvas id="metricsRadarChart"></canvas>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Metrics Summary</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="metrics-summary" width="100%" cellspacing="0"></table>
            </div>
        </div>
    </div>

    <!-- Model Metrics Overview Chart -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Model Metrics Overview</h6>
        </div>
        <div class="card-body">
            <div id="metricsSummaryChart"></div>
        </div>
    </div>

    
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-info">Prediction Trends</h6>
        </div>
        <div class="card-body">
            <div id="predictionTrendsChart"></div>
        </div>
    </div>

</div>

{% endblock %}
