<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('dashboard_page') }}">
        <div class="sidebar-brand-icon">
            <i class="fas fa-bolt"></i>
        </div>
        <div class="sidebar-brand-text mx-3">EDF</div>
    </a>
    

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% if request.path == url_for('dashboard_page') %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('dashboard_page') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">Interface</div>

    <!-- Nav Item - Hourly Demand -->
    <li class="nav-item {% if request.path == url_for('hourly_demand_page') %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('hourly_demand_page') }}">
            <i class="fas fa-fw fa-clock"></i>
            <span>Hourly Demand</span>
        </a>
    </li>

    <!-- Nav Item - Hourly Weather -->
    <li class="nav-item {% if request.path == url_for('hourly_weather_page') %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('hourly_weather_page') }}">
            <i class="fas fa-fw fa-cloud"></i>
            <span>Hourly Weather</span>
        </a>
    </li>

    <!-- Nav Item - Holidays -->
    <li class="nav-item {% if request.path == url_for('holidays_page') %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('holidays_page') }}">
            <i class="fas fa-fw fa-calendar-alt"></i>
            <span>Holidays</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">EDA</div>

    <!-- Nav Item - Electricity Datasets -->
        <!-- Nav Item - Electricity (Demand) Datasets -->
    <li class="nav-item {% if request.path == url_for('eda_demand_page') %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('eda_demand_page') }}">
            <i class="fas fa-fw fa-clock"></i>
            <span>Electricity Demand</span>
        </a>
    </li>


    <!-- Nav Item - Weather Datasets -->
    <li class="nav-item {% if request.path == url_for('eda_weather_page') %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('eda_weather_page') }}">
            <i class="fas fa-fw fa-cloud"></i>
            <span>Hourly Weather</span>
        </a>
    </li>

    <!-- Nav Item - Holiday Datasets -->
    <li class="nav-item {% if request.path == url_for('eda_holidays_page') %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('eda_holidays_page') }}">
            <i class="fas fa-fw fa-calendar-alt"></i>
            <span>Holidays</span>
        </a>
    </li>

</ul>
