<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <li class="sidebar-brand d-flex align-items-center justify-content-center">
        <a class="sidebar-brand-link" href="{{ url_for('dashboard') }}" aria-label="Dashboard">
            <div class="sidebar-brand-icon">
                <img src="{{ url_for('static', filename='favicon3.png') }}" alt="Logo" style="width: 40px; height: 40px;">
            </div>
            <div class="sidebar-brand-text mx-3">EDF</div>
        </a>
    </li>
    
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% if request.path == url_for('dashboard') %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('dashboard') }}" aria-label="Dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">Interface</div>

    <!-- Nav Item - Hourly Demand -->
    <li class="nav-item {% if request.path == url_for('hourly_demand_page') %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('hourly_demand_page') }}" aria-label="Hourly Demand">
            <i class="fas fa-fw fa-clock"></i>
            <span>Hourly Demand</span>
        </a>
    </li>

    <!-- Nav Item - Hourly Weather -->
    <li class="nav-item {% if request.path == url_for('hourly_weather_page') %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('hourly_weather_page') }}" aria-label="Hourly Weather">
            <i class="fas fa-fw fa-cloud"></i>
            <span>Hourly Weather</span>
        </a>
    </li>

    <!-- Nav Item - Holidays -->
    <li class="nav-item {% if request.path == url_for('holidays_page') %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('holidays_page') }}" aria-label="Holidays">
            <i class="fas fa-fw fa-calendar-alt"></i>
            <span>Holidays</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">EDA</div>

</ul>
